:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
} 

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /* 1 rem = 10px */
    font-family: 'Krub', sans-serif; 
    background-color: cornflowerblue;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}

/* el contenedor contiene la descripcion de
   de mis servicios y el 40rem es el tammaño de la caja  */
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 1rem;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width:768px) {
    .boton {
        width: auto
    }
}

.boton:hover {
    cursor: pointer;
}


.sombra {
    box-shadow:.0px 5px 15px 0px rgba(190, 118, 118, 0.48);
    background-color: var(--grisClaro);
    padding: 2rem;
    border-radius: 1rem;
}
 /*  Tipografia */

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1, h1, h3 {
    text-align: center;
}
 
/* Titulos */

.titulo :after {
    content: " variedades";
}

.titulo span {
    font-size: 2rem;
}

/* utilidades */
.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end ;
}
/* Navegación principal */

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;   
    }
}

.navegacion-principal a {
    display: block;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover {
    color: var(--primario);
    color: var(--oscuro);
}

    /* comida */
.comida {
    background-image: url(../img/comidas.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px ;
    position: relative;
    margin-bottom: 2rem;
}    

.contenido-comida {
    position: absolute;
    background-color: rgb(0,0,0,.4); /*anterior */
    background-color: rgb(0 0 0 /10%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenido-comida h2,
.contenido-comida p
{
  color: var(--blanco);
}

contenido-comida .ubicacion {
    display: flex;
    align-items: flex-end;
}


   .contenido-comida .icono1 {
    height: 4rem;       
    width:  4rem;            
    border-radius: 50%; 

    height: 4rem;
    width: 4rem;
    background-color: var(--primario) ;
    justify-content: space-evenly;
    align-items: center;   
} 

/* scroll snap */
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}


/* Servicios */
@media (min-width: 768px) {
    .servicios {
        display: grid;
      /*  grid-template-columns: 320px 320px;
        grid-template-rows: 300px 800px;      
        grid-template-columns: 33.3% 33.3% 33.3%;*/
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio  h3 {
    color: var(--secundario);
  /*  font-weight: normal;
*/
}

.servicio p{
    line-height: 2 ;
    text-align: center;
}


.servicio .iconos {
    height: 15rem;       /* con estas */
    width: 15rem;        /* tres instrucciones */
    border-radius: 50%;  /* construyo un circulo */
    background-color: var(--primario) ;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;

}

/** Contacto **/

/*
.hache {
    text-align: center;
    text-transform: uppercase;
}
*/
.formulario {
    background-color: var(--gris);
    width: min(60rem,100%); /*utilizar el valor mas pequeño */
    margin:  0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
    margin: 0 auto; 
}

.formulario legend {
    text-align: center; 
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

/*
.contenedor-campos {
}
*/
.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;   
}

.input-text  {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.enviar .boton  {
    width: 100%;
}



